@import components/mixins
*
    margin: 0
    padding: 0

body
    font-family: "Rubik"
    font-weight: 400
    background-color: #f4f7f9
    cursor: url(../img/cursor.cur), pointer
a
    cursor: url(../img/cursor.cur), pointer
    display: inline-block
.text-align-center
    text-align: center
.navigation-header 
    column-gap: 30px
    a
        font-size: 14px
        text-transform: uppercase
        color: #fff
        list-style: none
        transition: 0.5s
        text-decoration: none
        &:hover
            color: #ffb700   
.logo-z-index
    position: fixed
    z-index: 5
    +media(992)
        position: relative
header
    padding-top: 34px
    background: linear-gradient(to bottom,rgba(#f4f7f9,0) 65%,rgba(#f4f7f9,1) 93%, rgba(#f4f7f9,1) 100%), url(../img/header.jpg) center
    background-repeat: no-repeat
    background-size: cover
    padding-bottom: 43px
    li
        list-style-type: none
    p
        max-width: 550px
        margin: 0 auto
        font-size: 16px
        line-height: 24px
        color: #ffffff
        font-style: italic
        margin-bottom: 30px
.header-center
    position: relative
    padding-bottom: 263px
    &::after
        content: ''
        position: absolute
        opacity: 0.2
        width: 90%
        max-width: 410px
        height: 41px
        border: 4px solid #ffffff
        border-top: 0
        top:50%
        left:50%
        margin-left: -205px 
        top: 220px
        height: 95px
        display: none
        +media(560)
            display: inline-block
a.btn
    font-size: 16px
    letter-spacing: 1px
    text-transform: uppercase
    color: #fdfcfb
    border-radius: 23px
    filter: drop-shadow(0px 4px 10.5px rgba(193,139,1,0.24))
    background-color: #ffb700
    padding: 10px 30px
    z-index: 1
    position: relative
    cursor: url(../img/cursor.cur), pointer
    &:hover
        background-color: #fff
        color: #000
.button-about-company
    display: block
    +media(435)
        display: inline-block
a.blue
    +btn
.navigation
    margin-bottom: 125px
h1
    font-size: 60px
    position: relative
    letter-spacing: 1px
    line-height: 1.5em
    text-transform: uppercase
    color: #ffffff
    +media(465)
        font-size: 72px
    &::before,&::after
        content: ''
        position: absolute
        opacity: 0.2
        width: 100%
        max-width: 410px
        height: 41px
        border: 4px solid #ffffff
        border-bottom: 0
        top:50%
        left:50%
        margin-left: -205px 
        display: none
        top: -25px
        +media(560)
            display: inline-block
.italic
    font-size: 16px
    color: #333333
    font-style: italic
a.slide-down 
    width: 18px
    height: 20px
    background-image: url(../img/angles-down-solid.svg)
    transition: 0.5s
    &:hover
        transform: scale(1.2)
.regular
    font-size: 18px
    line-height: 26px
    color: #333333
    font-weight: 400
    font-style: normal
.figure-main-first
    background-color: #f4f7f9
    transition: 0.3s
    &:hover:not(.figure-main-first:first-child)
        animation: 2s ease-in-out infinite shine
        background-color: #fff
    span
        font-size: 24px
        color: #0099ff
.descriptionFigure
    max-width: 229px
    font-size: 13px
    line-height: 19px
    color: #999999
    margin: auto
.order-flex-bottom
    position: relative
.title-basic
    font-size: 36px
    letter-spacing: 1px
    line-height: 40px
    text-transform: uppercase
    color: #333333
    font-weight: 400
.width-95
    max-width: 272px
    margin: 0 auto
.figure-about-us
    p
        font-size: 13px
        line-height: 19px
        color: #bbbbbb
    .btn
        margin-top: 48px
        margin-bottom: 19px
figure
    position: relative
.best-offer:before
    content: ''
    position: absolute
    width: 0
    height: 0
    left: -12px
    border-top: 61px solid #26cb15
    border-right: 61px solid transparent
.best-offer:after
    content: ''
    position: absolute
    width: 17px
    height: 16px
    left: -12px
    background-image: url(../img/star.png)
    left: 0px
    top: 10px
    animation: star 3s infinite
@keyframes star 
    0%
        transform: scale(1)
        transform: rotate(0)
    25%
        transform: rotate(-15deg)
    50%
        transform: rotate(15deg)
        transform: scale(1.3)
hr
    border: none
    border-top: 2px solid #dfe3e6
    margin-bottom: 74px
    margin-top: 71px
.img-island
    margin: auto
    width: 100%
    min-height: 270px
    background-image: url(../img/island-nopeople.png)
    background-repeat: no-repeat
    background-size: cover
    background-position: center
.description-island
    margin-bottom: 34px
    padding-top: 14px
.card-price-island
    background-color: #edf1f4
    min-height: 169px
.blue-text
    font-size: 21px
    line-height: 42px
    color: #0099ff
    +media(1200)
        font-size: 24px
        line-height: 44px
.island-about 
    margin-bottom: 80px
.sailing
    padding-top: 90px
    min-height: 503px
    background: linear-gradient(rgba(#142f3f, 82%), rgba(#142f3f, 82%)), url(../img/sea-surfing-background.jpg) center
    background-size: cover
    background-repeat: no-repeat
    background-position-y: center
    margin-bottom: 72px
.sailing-descript
    margin-bottom: 35px
    h2 
        font-size: 56px
        letter-spacing: 2px
        line-height: 1.2em
        text-transform: uppercase
        color: #ffffff
        font-weight: 400
        +media(465)
            font-size: 46px
        p
            color: #0099ff
p.descript-sailing
    color: #fff
    font-family: "PT Sans"      
    margin-bottom: 32px
.quotes
    text-align: center
    position: relative
    p.descript-sailing:first-child
        padding-bottom: 17px !important
.quotes:before,.quotes:after
    content:''
    display: inline-block
    position: absolute
    width: 32%
    height: 235px
    border: 4px solid #ffffff
    opacity: 0.2
.quotes:before   
    border-right: 0
    left: 0
.quotes:after
    border-left: 0
    top: 8px
    right: 0
.client
    width: 86px
    height: 86px
    border-radius: 50%
    background-image: url(../img/quotes-man.png)
    margin: auto
    margin-top: 10px
.sailing 
    .client
        margin-bottom: 80px
.quotes-img
    width: 43px
    height: 39px
    background-image: url(../img/quotes.png)
    background-repeat: no-repeat
    background-size: cover
    margin: auto
    margin-top: -17px
.special-month-offer
    .best-offer:before
        left: 0px
        top: 0
    .best-offer:after
        left: 10px
        top: 10px
.figure-special
    max-width: 270px
    width: 100%
    min-height: 355px
    background-color: transparent
    transition: 0.5s
    &:hover
        animation: 2s ease-in-out shine
        animation-fill-mode: forwards
        background-color: #fff
@keyframes shine 
    0%,100%
        box-shadow: -1px 0px 15px 1px rgba(#ffb700,0.5) 
    25%
        box-shadow: -10px 0px 25px 1px rgba(#ffb700,0.5)   
    50% 
        box-shadow: 10px 0px 35px 1px rgba(#ffb700,0.5)
    100%
        box-shadow: -1px 0px 15px 1px rgba(#ffb700,0.5)

.more-information
    margin-bottom: 80px
.more-details-cards
    min-height: 270px
    margin: auto
    &:first-child
        background: linear-gradient(rgba(#142f3f, 75%), rgba(#142f3f, 75%)), url(../img/more-information-house.jpg)
        background-position: center
.more-food-card 
    .more-details-cards
        background: linear-gradient(rgba(#142f3f, 75%), rgba(#142f3f, 75%)), url(../img/more-information-food.jpg)
        background-position: center
.download
    font-size: 12px
    text-transform: uppercase
    color: #ffb700
    border-radius: 16px
    background-color: rgba(255,183,0,0)
    border: 2px solid #ffb700
    text-decoration: none
    padding: 4.5px 25px
    transition: 0.5s
    &:hover
        transform: scale(1.05)
    &::before
        content: url(../img/cloud.png)
        padding-right: 5px 
.card-top
    min-height: 75px
.document-image
    margin-right: 17px
.description-add-card
    min-height: 120px
.card-add
    text-align: center
.ask-question 
    width: 242px
    +media(1200)
        width: 270px
    margin: auto
    position: relative
    &:before,&:after
        content: ''
        position: absolute
        width: 17%
        height: 270px
        border: 4px solid #ffb700
    &:before
        top: 17px
        border-right: 0
    &:after
        top: 17px
        border-left: 0
        right: 0
.ask-question
    i
        display: block
        text-align: center
        margin-bottom: 30px
.ask-description
    display: block
    max-width: 150px
    margin-bottom:10px
.blue-text-ask
    display: block
    font-size: 18px
    text-decoration: none
    text-align: center
    &::before
        content: url(../img/tel.png)
        position: relative
        top: 2px
        left: -5px

.manager
    background-image: url(../img/ask-question.png)
.footer
    border-top: 2px solid #f4f7f9
    min-height: 400px
    background: linear-gradient(to top,rgba(#f4f7f9,0) 65%,rgba(#f4f7f9,1) 92%, rgba(#f4f7f9,1) 100%), url(../img/footer.jpg) center
    background-size: cover
    background-repeat: no-repeat
    +media(2100)
        min-height: 600px
.copy
    color: #ffffff
    background-color: #1a1a1a
    padding: 15px 0 3px 0
.text-special-offer
    min-height: 76px
.order
    position: absolute
    color: #ffb700
    text-decoration: none
    text-transform: uppercase
    top: 13px
    right: 15px
    font-size: 13px
    &::before
        content: ''
        position: absolute
        top: 3px
        right: -16px
        width: 12px
        height: 12px
        border: 2px solid #ffb700
        border-radius: 50%
    &:after
        content: ''
        position: absolute
        top: 6px
        right: -12px
        width: 5px
        height: 5px
        border-bottom: 2px solid #ffb700
        border-right: 2px solid #ffb700
        transform: rotate(-45deg)
    &:hover
        text-decoration: underline
.about-us-company-cards
    row-gap: 28px
    .last-col
        margin-bottom: 20px
.cards-first-tours
    max-height: 271px
.plans
    padding-top: 45px
.look-all-plans
    position: relative
    text-decoration: none
    font-size: 12px
    text-transform: uppercase
    color: #0099ff
    width: auto
    margin: auto
    &:after
        content: ''
        position: absolute
        width: 5px
        top: 4px
        right: -15px
        height: 5px
        border-bottom: 2px solid #0099ff
        border-right: 2px solid #0099ff
        transform: rotate(-45deg)
    &:hover
        text-decoration: underline
    &::before
        content: ''
        position: absolute
        top: 0px
        right: -20px
        width: 13px
        height: 13px
        border: 2px solid #0099ff
        border-radius: 50%
    
.burderBor
    z-index: 5
    position: fixed
    right: 4%
    display: block
    border: 2px solid #1147c3
    background-color: #1147c3
    border-radius: 5px
    width: 35px
    height: 35px
    +media(992)
        display: none
.burger 
    top: 14px
    left: -8.5px
    position: relative
    display: block
    width: 25px
    right: 5%
    +media(992)
        display: none
.menu-sm 
    background: linear-gradient(to top,rgba(#1e4fce,0.8),rgba(#184bda,0.8) 100%), url(../img/sea-sub.jpg) center
    text-align: center
    background-repeat: no-repeat
    background-size: cover
    width: 100%
    height: 100%
    padding: 10px 15px
    position: fixed
    z-index: 3
    top: 0
    color: #fff
    left: -100%
    transition: 0.5s
    ul
        padding-top: 140px
        padding-left: 0
    a
        font-size: 17px
        margin-bottom: 10px
        font-weight: 500
        +media(530)
            font-size: 21px
.burger span, .burger span:before, .burger span:after 
    content: ""
    position: absolute
    background-color: #fff
    width: 100%
    height: 2px
    transition: 0.3s

.burger span:before 
    top: -9px

.burger span:after
    bottom: -9px

.active
    display: block
    padding: 0
    padding-bottom: 8px
    span
        background-color: transparent

div.active span::before
    top: 0px
    transform: rotate(45deg)
    transition: 0.2s

div.active span::after
    bottom: 0px
    transform: rotate(-45deg)
    transition: 0.2s
.visible
    display: block
    left: 0
.about-first-tour
    column-gap: 10px
    row-gap: 10px
.description-add-info
    min-height: 115px
    color: #fefefe
    padding-top: 20px
    margin-bottom: 15px !important
@media screen and (max-width:560px)
    h2
        font-size: 30px !important
    .italic
        font-size: 13px
    .descript-sailing
        font-size: 14px
.more-food-card-padding
    margin-top: 16px
    +media(576)
        margin-top: 8px
    +media(992)
        padding-top: 7px
@keyframes glowing 
  0%  
    transform: rotate(0)
    box-shadow: 0 0 -10px #c4a300
  25%  
    transform: rotate(-5deg)  
  40%  
    box-shadow: 0 0 20px #c4a300
  50%
    transform: rotate(5deg)  
  60%  
    box-shadow: 0 0 20px #c4a300
  100%  
    box-shadow: 0 0 -10px #c4a300

.card-img-top
    height: 190px
img
    object-fit: cover
.button-glow 
    animation: glowing 5000ms infinite
    &:hover
        animation: none
.bike 
    .figure-special
        position: relative
        &:before
            content: ''
            position: absolute
            width: 61px
            height: 190px
            background-color: #0099ff
        &::after
            content: url(../img/btour.png)
            top: 79px
            left: 10px
            position: absolute
.sailing-descript-overflow
    max-height: 120px
    overflow-y: scroll
    &::-webkit-scrollbar
        width: 5px
        height: 8px
        background-color: transparent
.about-us-company-cards
    .width-95
        max-width: 240px
        +media(768)
            max-width: 272px
.special-month-offer
    .figure-special
        max-width: 240px
        +media(768)
            max-width: 270px
.more-information
    .more-details-cards
        max-width: 240px
        +media(1200)
            min-width: 270px
        +media(768)
            width: 230px
        h5 
            +media(768)
                font-size: 18px