=btn ()
    font-size: 1.1rem
    letter-spacing: 1px
    text-transform: uppercase
    color: #0099ff
    border-radius: 1.5rem
    padding: 0.6rem 2.2rem
    z-index: 1
    position: relative
    background-color: transparent
    border: 2px solid #0099ff
    width: 13.3rem

=media ($size)
    @media screen and (min-width: #{$size}px)
        @content
